In [112]:
import pandas as pd
liver=pd.read_csv('indian_liver_patient.csv')
liver.shape

(583, 11)

In [113]:
liver.head(10)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
5,46,Male,1.8,0.7,208,19,14,7.6,4.4,1.30,1
6,26,Female,0.9,0.2,154,16,12,7.0,3.5,1.00,1
7,29,Female,0.9,0.3,202,14,11,6.7,3.6,1.10,1
8,17,Male,0.9,0.3,202,22,19,7.4,4.1,1.20,2
9,55,Male,0.7,0.2,290,53,58,6.8,3.4,1.00,1

In [114]:
liver=liver.drop_duplicates()
liver.shape

(570, 11)

Finding balanced or imbalanced dataset

In [115]:
liver.count()

Age                           570
Gender                        570
Total_Bilirubin               570
Direct_Bilirubin              570
Alkaline_Phosphotase          570
Alamine_Aminotransferase      570
Aspartate_Aminotransferase    570
Total_Protiens                570
Albumin                       570
Albumin_and_Globulin_Ratio    566
Dataset                       570
dtype: int64

In [116]:
median = liver['Albumin_and_Globulin_Ratio'].median()
liver['Albumin_and_Globulin_Ratio'].fillna(median, inplace=True)

In [117]:
liver.count()

Age                           570
Gender                        570
Total_Bilirubin               570
Direct_Bilirubin              570
Alkaline_Phosphotase          570
Alamine_Aminotransferase      570
Aspartate_Aminotransferase    570
Total_Protiens                570
Albumin                       570
Albumin_and_Globulin_Ratio    570
Dataset                       570
dtype: int64

In [118]:
liver['Dataset'].value_counts()

1    406
2    164
Name: Dataset, dtype: int64

Changing categorical values

In [119]:
data_dummies=pd.get_dummies(liver.Gender)
print("Features are:\n",list(data_dummies.columns))

Features are:
 ['Female', 'Male']

In [120]:
liver=pd.concat([liver,data_dummies],axis=1)
liver.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset,Female,Male
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1,1,0
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1,0,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1,0,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1,0,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1,0,1

In [121]:
liver=liver.drop(['Gender'],axis=1)

In [122]:
from sklearn.model_selection import train_test_split
y=liver.Dataset
X=liver.drop('Dataset',axis=1)
X_train,X_test,y_train,y_test=train_test_split(X,y,stratify=y,random_state=1)
X_train.shape

(427, 11)

In [123]:
X_test.shape

(143, 11)

In [124]:
X_test.head()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Female,Male
76,31,0.9,0.2,518,189,17,5.3,2.3,0.70,0,1
528,45,1.7,0.8,315,12,38,6.3,2.1,0.50,0,1
365,40,0.7,0.2,176,28,43,5.3,2.4,0.80,0,1
369,58,0.8,0.2,130,24,25,7.0,4.0,1.30,1,0
24,63,0.9,0.2,194,52,45,6.0,3.9,1.85,0,1

In [125]:
liver.dtypes

Age                             int64
Total_Bilirubin               float64
Direct_Bilirubin              float64
Alkaline_Phosphotase            int64
Alamine_Aminotransferase        int64
Aspartate_Aminotransferase      int64
Total_Protiens                float64
Albumin                       float64
Albumin_and_Globulin_Ratio    float64
Dataset                         int64
Female                          uint8
Male                            uint8
dtype: object

In [126]:
liver['Male'] = liver['Male'].apply(pd.to_numeric, downcast='float', errors='coerce')
liver['Female'] = liver['Female'].apply(pd.to_numeric, downcast='float', errors='coerce')

In [127]:
cols = liver.select_dtypes(exclude=['float']).columns
liver[cols] = liver[cols].apply(pd.to_numeric, downcast='float', errors='coerce')

In [128]:
liver.dtypes

Age                           float32
Total_Bilirubin               float64
Direct_Bilirubin              float64
Alkaline_Phosphotase          float32
Alamine_Aminotransferase      float32
Aspartate_Aminotransferase    float32
Total_Protiens                float64
Albumin                       float64
Albumin_and_Globulin_Ratio    float64
Dataset                       float32
Female                        float32
Male                          float32
dtype: object

In [129]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
scaler.fit(X_train)
X_train_scaled=scaler.transform(X_train)
X_test_scaled=scaler.transform(X_test)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [130]:
liver.head()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset,Female,Male
0,65.0,0.7,0.1,187.0,16.0,18.0,6.8,3.3,0.90,1.0,1.0,0.0
1,62.0,10.9,5.5,699.0,64.0,100.0,7.5,3.2,0.74,1.0,0.0,1.0
2,62.0,7.3,4.1,490.0,60.0,68.0,7.0,3.3,0.89,1.0,0.0,1.0
3,58.0,1.0,0.4,182.0,14.0,20.0,6.8,3.4,1.00,1.0,0.0,1.0
4,72.0,3.9,2.0,195.0,27.0,59.0,7.3,2.4,0.40,1.0,0.0,1.0

from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier(n_neighbors=3)
model.fit(X_train_scaled,y_train)

In [138]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier(max_depth=4,random_state=1)
tree.fit(X_train_scaled,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=1,
            splitter='best')

In [140]:
print("Train set score:\n{}".format(tree.score(X_train_scaled,y_train)))
print("Test set score:\n{}".format(tree.score(X_test_scaled,y_test)))

Train set score:
0.7540983606557377
Test set score:
0.7062937062937062